__Question 1__

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:
1. Extract the second element of the list.
2. Extract the first to third (inclusive) element of the list.
3. Extract only the last element of the list.

In [7]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [9]:
shopping[1]

'ham'

In [11]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [13]:
shopping[-1]

'ham'

__Question 2__

Set up a list with the following elements:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:
1. Append Edinburgh Waverley to the end of the list
2. Add "Queen Street" to the start of the list
3. Find out what index "Croy" is at in the list
4. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
5. Remove "Haymarket" from the list of stops
6. Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [ ]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [ ]:
stops.append("Edinburgh Waverly")

In [18]:
stops.insert(0,"Queen Street")

1

In [19]:
stops_idex = stops.index("Croy")

stops_idex

1

In [30]:
stops

[]

In [22]:
stops.insert(4, "Polmont")

In [26]:
stops.remove("Haymarket")

ValueError: list.remove(x): x not in list

In [31]:
stops.clear()

__Question 3__

Set up the following dictionary:
person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:
1. Return the keys, values and items from this dictionary
2. Take out only the name from it
3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
4. Delete the job description from the dictionary (Hint: look up the del function)

In [41]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [42]:
keys = person.keys()
print("Keys:", keys)

Keys: dict_keys(['name', 'age', 'Instructor'])

In [43]:
values = person.values()
print("Values:", values)

Values: dict_values(['Steph', 31, True])

In [44]:
items = person.items()
print("Items:", items)

Items: dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [45]:
person.pop("name")

'Steph'

In [46]:
person.update({"email" : ["steph@codeclan.com"] })

In [47]:
person

{'age': 31, 'Instructor': True, 'email': ['steph@codeclan.com']}

In [50]:
person.del("Instructor")

AttributeError: 'dict' object has no attribute 'delete'

__Question 4__ 

For the following list of numbers:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

1. Print out a list of the even integers:
2. Print the difference between the largest and smallest value:
3. Print True if the list contains a 2 next to a 2 somewhere.
4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7.      So [11, 6, 4, 99, 7, 11] would have sum of 22

In [77]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [78]:
even_numbers = [num for num in numbers if num % 2 == 0]
print("Even Integers:", even_numbers)

Even Integers: [6, 2, 2, 6]

In [79]:
difference = max(numbers) - min(numbers)
print("Difference between largest and smallest value:", difference)

Difference between largest and smallest value: 98

In [80]:
for i in range(len(numbers) - 1): 
     if numbers[i] == numbers[i + 1] == 2:
      print("True")

True

In [101]:
sum_numbers = 0
for num in numbers:
    if num == 6:
        ignore_section = True 
    elif num == 7:
        ignore_section = False
    elif not ignore_section:
        sum_numbers += num
print(sum_numbers)

2

__Question 5__
Write a conditional that takes in two inputs :

- python_is_fun = True
- python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [103]:
python_is_fun = True
python_is_weird = True

if python_is_fun or python_is_weird:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

__Question 6__

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:
total_eggs = 0
for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected
print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.
We also want to return the string at the end, instead of using print.

In [104]:
chickens = [ { "name": "Margaret", "age": 2, "eggs": 0 }, { "name": "Hetty", "age": 1, "eggs": 2 }, { "name": "Henrietta", "age": 3, "eggs": 1 }, { "name": "Audrey", "age": 2, "eggs": 0 }, { "name": "Mabel", "age": 5, "eggs": 1 }, ]

In [105]:
def count_eggs(chickens):
    total_eggs = 0
    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0  # eggs have been collected
    return f"{total_eggs} eggs collected"

In [106]:
count_eggs(chickens)

'4 eggs collected'